@import "catalogue.css";
@import "fonts.css";

%header-button{
        padding: 9px 18px 9px 19px;
        border-radius: 5px;
        border: none;
        background: transparent;
        color: #4a494a;
        font-family: ProximaNova-Regular;
        font-size: 1.125em;
        
}
%header-button:hover{
        padding: 9px 18px 9px 19px;
        border-radius: 2px;
        border: none;
        background-color: #f4c231;
        color: #fafafa;
        font-size: 1.125em;
}
%d-flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
%d-flex-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
%left-block-btn{
        background-color: transparent;
        border-color: rgba(216, 218, 221, 0.76);
        border-width: 1px;
        border-style: solid;
        width: auto;
        height: 26px;
        font-size: 0.875em;
        color: #4a494a;
}
%topic-h2{
        width: max-content;
        cursor: pointer;
        font-size: 1.5em;
        color: #498fe1;
        margin: 0 0 15px 0;
}
%padding{
         padding: 20px 21px 20px 29px;
 }
%right-block-btn{
        height: 32px;
        width: auto;
        background-color: #e4eefa;
        border: none;
        font-size: 1em;
        color: #498fe1;
        margin: 0 0 5px 0;
}

body{
        /*width: 1462px;*/
        margin: 0 auto;
        height: 1000px;
        min-height: 100%;
        background: url("images/rectangle-5.png") #d7d7d7;
        font-size: 16px;
        font-family: ProximaNova-Regular;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        
        main{
                width: min-content;
                max-height: max-content;
                height: auto;
                margin: 0 auto;
                
                header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        padding: 25px 0 25px 0;
                        .header-logo{
                                width: auto;
                                display: flex;
                                justify-content: flex-start;
                                a{
                                        display: block;
                                        height: 100%;
                                        text-decoration: none;
                                }
                                span{
                                        vertical-align: super;
                                        color: #393939;
                                        font-size: 2.125em;
                                        padding-left: 2px;
                                        font-family: CoreSansA35Light;
                                }
                        }
                        .header-links{
                                width: auto;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                height: 38.4px;
                                button{
                                        @extend %header-button;
                                        text-decoration: none;
                                        color: darkslategrey;
                                        a{
                                                text-decoration: none;
                                                color: darkslategrey;
                                        }
                                }
                                button:focus{
                                        outline: none;
                                }
                                button:hover{
                                        @extend %header-button:hover;
                                        a{
                                                text-decoration: none;
                                                color: white;
                                        }
                                }
                        }
                }
                
                section.container{
                        display: grid;
                        grid-template-columns: 706px 253px;
                        grid-template-rows: 714px auto;
                        grid-row-gap: 25px;
                        grid-column-gap: 8px;
                        margin: 0 auto;
                        width: max-content;
                        section.container-block-left{
                                grid-column: 1;
                                background-color: white;
                                form.container-block-left-header{
                                        padding: 25px 21px 0 29px;
                                        div{
                                                input{
                                                padding: 0;
                                                height: 40px;
                                                width: 100%;
                                                font-size: 1em;
                                                color: #d8dadd;
                                                border-radius: 2px;
                                                border: 1px solid #d8dadd;
                                                }
                                        }
                                        //span::before{
                                        //        display: inline-block;
                                        //        content: "";
                                        //        background: url(search.svg) 100%;
                                        //        width: 21px;
                                        //        height: 21px;
                                        //        position: absolute;
                                        //        margin: 10px;
                                        }
                                }
                                
                                section.container-block-left-core{
                                        display: grid;
                                        grid-template-rows: auto 3px auto 3px auto;
                                        grid-row-gap: 4px;
                                        padding-top: 32px;
                                        hr{
                                                box-sizing: content-box;
                                                overflow: visible;
                                                margin: 0;
                                                height: 3px;
                                                width: auto;
                                                background: #d8dadd;
                                                border: none;
                                        }
                                        section.container-block-left-core-topic-inwork{
                                                background-color: white;
                                                @extend %d-flex-column;
                                                @extend %padding;
                                                
                                                div.container-block-left-core-topic-header{
                                                        @extend %d-flex-row;
                                                        padding-bottom: 15px;
                                                    div{
                                                            width: auto;
                                                            button{
                                                                    @extend %left-block-btn;
                                                                    a{
                                                                            font-size: 0.875em;
                                                                            color: #4a494a;
                                                                    }
                                                            }
                                                            span{
                                                                    font-size: 0.875em;
                                                            }
                                                    }
                                                    span{
                                                            font-size: 0.875em;
                                                            color: #417505;
                                                    }
                                            }
                                            
                                            div.container-block-left-core-topic-info{
                                                    @extend %d-flex-column;
                                                    h2{
                                                            @extend %topic-h2;
                                                    }
                                                    p{
                                                            font-size: 1em;
                                                            color: #4a494a;
                                                            margin: 0 0 22px 0;
                                                    }
                                                    div{
                                                            font-size: 0.875em;
                                                            p{
                                                                    color: #d8dadd;
                                                                    margin: 0;
                                                            }
                                                    }
                                            }
                                            
                                    }
                                    section.container-block-left-core-topic-during{
                                            background-color: white;
                                            @extend %d-flex-column;
                                            @extend %padding;
                                            
                                            div.container-block-left-core-topic-header{
                                                    @extend %d-flex-row;
                                                    padding-bottom: 15px;
                                                    div{
                                                            width: auto;
                                                            button{
                                                                    @extend %left-block-btn;
                                                            }
                                                            span{
                                                                    font-size: 0.875em;
                                                                    color: #4a494a;
                                                            }
                                                    }
                                                    span{
                                                            font-size: 0.875em;
                                                            color: #417505;
                                                    }
                                            }
                                            
                                            div.container-block-left-core-topic-info{
                                                    @extend %d-flex-column;
                                                    h2{
                                                            @extend %topic-h2;
                                                    }
                                                    p{
                                                            font-size: 1em;
                                                            color: #4a494a;
                                                            margin: 0 0 22px 0;
                                                    }
                                                    div{
                                                            font-size: 0.875em;
                                                            p{
                                                                    color: #d8dadd;
                                                                    margin: 0;
                                                            }
                                                    }
                                            }
                                            
                                    }
                                    section.container-block-left-core-topic-archive{
                                            background-color: white;
                                            @extend %d-flex-column;
                                            @extend %padding;
                                            
                                            div.container-block-left-core-topic-header{
                                                    @extend %d-flex-row;
                                                    padding-bottom: 15px;
                                                    div{
                                                            width: auto;
                                                            button{
                                                                    @extend %left-block-btn;
                                                            }
                                                            span{
                                                                    font-size: 0.875em;
                                                                    color: #4a494a;
                                                            }
                                                    }
                                                    span{
                                                            font-size: 0.875em;
                                                            color: #8a572a;
                                                    }
                                            }
                                            
                                            div.container-block-left-core-topic-info{
                                                    @extend %d-flex-column;
                                                    h2{
                                                            @extend %topic-h2;
                                                            color: #8a572a;
                                                    }
                                                    p{
                                                            font-size: 1em;
                                                            color: #4a494a;
                                                            margin: 0 0 22px 0;
                                                    }
                                                    div{
                                                            font-size: 0.875em;
                                                            p{
                                                                    color: #d8dadd;
                                                                    margin: 0;
                                                            }
                                                    }
                                            }
                                    }
                            }
                    }
                    
                    section.container-show-more{
                            grid-column: 1;
                            display: flex;
                            justify-content: center;
                            img{
                                    margin-right: 5px;
                            }
                            a.show-more{
                                    margin: 0 auto;
                                    font-size: 1.5em;
                                    color: #498fe1;
                                    text-decoration: none;
                            }
                    }
                    
                    section.container-block-right{
                            background-color: white;
                            display: flex;
                            max-height: 236px;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 24px 10px 30px 14px;
                            section.container-block-right-location{
                                    p{
                                            font-size: 1em;
                                            color: #4a494a;
                                            margin: 0 0 10px 3px;
                                    }
                                    button{
                                            @extend %right-block-btn;
                                    }
                                    button > a{
                                            border: none;
                                    }
                                    a{
                                            text-decoration: none;
                                            font-size: 0.8em;
                                            border-bottom: 0.5px dashed;
                                            color: #498fe1;
                                    }
                            }
                            section.container-block-right-status{
                                    p{
                                            font-size: 1em;
                                            color: #4a494a;
                                            margin: 0 0 10px 3px;
                                    }
                                    button{
                                            @extend %right-block-btn;
                                    }
                                    button > a{
                                            border: none;
                                    }
                                    a{
                                            text-decoration: none;
                                            font-size: 0.8em;
                                            color: #498fe1;
                                    }
                            }
                            a.hide-idea{
                                    margin-left: 4px;
                                    font-size: 1em;
                                    text-decoration: none;
                                    color: #8a572a;
                                    border-bottom: 0.5px dashed;
                                    width: max-content;
                            }
                    }
            }
            
            footer{
                    width: 960px;
                    margin: 0 auto;
                    margin-top: 100px;
                    div.footer-contacts{
                            p{
                                    margin: 0;
                                    font-size: 0.875em;
                                    color: #b9b9b9;
                            }
                            span{
                                    font-size: 0.875em;
                                    color: #b9b9b9;
                            }
                    }
            }
    }