@import url(step2.css);
@import url(fonts.css);
body main header .header-links a button {
  padding: 9px 18px 9px 19px;
  border-radius: 2px;
  border: none;
  background: transparent;
  color: #4A494A;
  font-size: 1.125em;
  font-family: ProximaNova-Regular;
  cursor: pointer; }

body main header .header-links button:hover {
  padding: 9px 18px 9px 19px;
  border-radius: 5px;
  border: none;
  background-color: #D8DADD;
  color: #FAFAFA;
  font-size: 1.125em; }

body main section.container section.container-info section.container-info-header, body main section.container section.container-info section.container-info-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 53px 0 30px;}

body main section.container section.container-info form.container-info-form input {
  height: 38px;
  padding: 0;
  /*grid-column: 2;*/
  border: 1px solid #d8dadd;
  border-radius: 0; }

body main section.container section.container-info form.container-info-form label {
  color: #4A494A;
  font-size: 1em;
  /*grid-column: 1;*/
  line-height: 40px;
  /*width: max-content; */
}

body {
  /*width: 1462px;*/
  margin: 0 auto;
  height: 1000px;
  min-height: 100%;
  background: url("images/rectangle-5.png") #d7d7d7;
  font-size: 16px;
  font-family: ProximaNova-Regular;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400; }
  body main {
    width: min-content;
    height: auto;
    margin: 0 auto; }
    body main header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 25px 0 24px 0; }
      body main header .header-logo {
        width: auto;
        display: flex;
        justify-content: flex-start; }
        body main header .header-logo a {
          display: block;
          height: 100%;
          text-decoration: none; }
        body main header .header-logo span {
          vertical-align: super;
          color: #393939;
          font-size: 2.125em;
          padding-left: 2px;
          font-family: CoreSansA35Light; }
      body main header .header-links {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 38.4px; }
        body main header .header-links a {
          text-decoration: none;
          color: darkslategrey; }
        body main header .header-links button:focus {
          outline: none; }
        body main header .header-links button:hover a {
          text-decoration: none;
          color: white; }
    body main section.container {
      width: 960px;
      margin: 0 auto;
      /*display: grid;*/
      /*grid-template-rows: 714px 77px;*/
    }
      body main section.container section.container-info {
        /*grid-row: 1 / 2;*/
        padding-top: 46px;
        background-color: white; }
        body main section.container section.container-info section.container-info-header div p {
          color: #4a494a;
          padding-left: 10px;
          margin: 0;
          width: 274px;
          text-align: left;
          font-size: 1.5em; }
        body main section.container section.container-info section.container-info-header p {
          margin: 0;
          color: #D8DADD;
          font-size: 1.25em; }
        body main section.container section.container-info form.container-info-form {
          /*display: grid;*/
          /*grid-template-columns: 1fr auto;*/
          /*grid-template-rows: auto 123px auto 110px auto;*/
          margin-top: 73px;
          /*grid-row-gap: 21px;*/ }
          body main section.container section.container-info form.container-info-form input:focus {
            color: #4A494A; }
          body main section.container section.container-info form.container-info-form section.section_input-myfunction input {
            width: 600px; }
          body main section.container section.container-info form.container-info-form section.section_input-realisationsteps {
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            body main section.container section.container-info form.container-info-form section.section_input-realisationsteps div:nth-child(1) {
              width: 625px; }
            body main section.container section.container-info form.container-info-form section.section_input-realisationsteps input {
              width: 600px;
              color: #B6B9BD;
              font-size: 0.875em; }
            body main section.container section.container-info form.container-info-form section.section_input-realisationsteps input:focus {
              color: #4A494A; }
            body main section.container section.container-info form.container-info-form section.section_input-realisationsteps #garbage {
              width: 15.15px;
              height: 20px;
              margin-left: 5px; }
            body main section.container section.container-info form.container-info-form section.section_input-realisationsteps div:nth-child(odd) a {
              text-decoration: none;
              color: #498FE1;
              font-size: 1em; }
              body main section.container section.container-info form.container-info-form section.section_input-realisationsteps div:nth-child(odd) a span {
                vertical-align: super;
                margin-left: 5px; }
          body main section.container section.container-info form.container-info-form section.section_input-finance input {
            width: 84px;
            font-size: 0.875em; }
          body main section.container section.container-info form.container-info-form section.section_input-finance p {
            margin: 0;
            font-size: 0.875em;
            color: #D8DADD;
            margin-top: 4px; }
          body main section.container section.container-info form.container-info-form section.section_input-finance span {
            color: #4A494A;
            font-size: 1em;
            margin-left: 5px; }
          body main section.container section.container-info form.container-info-form section.section_input-helpers {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 4px;}
            body main section.container section.container-info form.container-info-form section.section_input-helpers #input-helpers-company {
              width: 290px;
              grid-column: 1; }
            body main section.container section.container-info form.container-info-form section.section_input-helpers #input-helpers-profile {
              width: 290px;
              grid-column: 2; }
            body main section.container section.container-info form.container-info-form section.section_input-helpers #span-comp {
              grid-column: 1;
              font-size: 0.875em;
              color: #4A494A; }
            body main section.container section.container-info form.container-info-form section.section_input-helpers #span-fb {
              grid-column: 2;
              font-size: 0.875em;
              color: #4A494A; }
            body main section.container section.container-info form.container-info-form section.section_input-helpers div {
              text-decoration: none;
              font-size: 1em;
              color: #D8DADD;
              grid-column: 1; }
              body main section.container section.container-info form.container-info-form section.section_input-helpers div a {
                color: #D8DADD;
                text-decoration: none; }
                body main section.container section.container-info form.container-info-form section.section_input-helpers div a span {
                  vertical-align: super;
                  margin-left: 5px; }
          body main section.container section.container-info form.container-info-form section.section_input-days input {
            width: 84px; }
          body main section.container section.container-info form.container-info-form section.section_input-days span {
            margin-left: 5px;
            color: #4A494A;
            font-size: 1em; }
      body main section.container section.container-footer {
        grid-row: 2 / 2;
        width: 100%;
        background-color: #F4C231; }
        body main section.container section.container-footer div.container-footer-buttons {
          padding: 13px 0 14px 0;
          width: fit-content;
          margin-left: 300px; }
          body main section.container section.container-footer div.container-footer-buttons button {
            /*border-radius: 5px;*/
            /*width: 250px;*/
            /*height: 50px;*/
            /*background: #ffffff;*/
            /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
            /*border: none;*/
            /*padding: 0;*/
            /*cursor: pointer;*/
            /*font-size: 1.3125em;*/
            cursor: pointer;
            border-radius: 5px;
            width: 250px;
            height: 50px;
            background: #ffffff;
            box-shadow: 0 1px 1px rgba(0,0,0,0.25);
            border: none;
            color: #4a494a;
            font-family: ProximaNova-Regular;
            font-size: 1.3125em;}
            body main section.container section.container-footer div.container-footer-buttons button a {
              text-decoration: none;
              font-size: 1.3125em;
              color: #4A494A; }
          body main section.container section.container-footer div.container-footer-buttons button:focus {
            outline: none; }
          body main section.container section.container-footer div.container-footer-buttons input {
            background-color: transparent;
            border: none;
            width: max-content;
            height: 25px;
            cursor: pointer;
            color: #ffffff;
            font-size: 1.3125em;
            padding: 0; }
          body main section.container section.container-footer div.container-footer-buttons input:focus {
            outline: none; }
    body main footer {
      width: 960px;
      margin: 0 auto;
      margin-top: 75px; }
      body main footer div.footer-contacts p {
        margin: 0;
        font-size: 0.875em;
        color: #b9b9b9; }
      body main footer div.footer-contacts span {
        font-size: 0.875em;
        color: #b9b9b9; }
.steps-container{
  display: flex;
}
.step{
  width: 600px;
}
.itstep{
  margin-top: 15px;
}
.itstep p{
  display: flex;
}
#newStepBtn{
  height: 22px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: #4153ff;
  line-height: 1;
  border-bottom: 1px dashed #4153ff;
  background-color: transparent;
  outline: none;
}
#addNewInput{
  display: flex;
  margin-top: 10px;
}
#plus-active-img{
  width: 20px;
  height: 20px;
}

.garbage {
  width: 15px;
  height: 20px;
}
.class-for-margin{
  margin-top: 60px;
}
.input-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.label-for-input{
  width: 195px;
  margin-right: 9px;
}

.DynamicExtraField{
  display: flex;
  margin-top: 15px;
}
.fields{
  width: 600px;;
}
.newFields{
  margin-left: 204px;
  width: 600px;
}
.garbageImg{
  width: 15px;
  height: 20px;
  cursor: pointer;
}
.delete-field{
  width: 15px;
  height: 20px;
  cursor: pointer;
}
#addDynamicField{
  display: flex;
  margin: 10px 0 0 205px;
}
#addDynamicExtraFieldButton{
  height: 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: #4153ff;
  line-height: 1;
  border-bottom: 1px dashed #4153ff;
  background-color: transparent;
  outline: none;
  margin-left: 5px;
}
.inputs-bubble{
  padding: 0 60px 111px 69px;
}
#addPerformerField{
  display: flex;
}
#addPerformerFieldBtn{
  height: 20px;
  cursor: pointer;
   font-size: 1em;
  border: none;
  color:#D8DADD;
  line-height: 1;
  background-color: transparent;
  outline: none;
  margin-left: 5px;
  font-family: ProximaNova-Regular;
}
/*# sourceMappingURL=step2.css.map */
